@use './constants.scss' as *;

.undertheleaves-card {
  width: $CARD_WIDTH;
  height: $CARD_HEIGHT;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-size: 500% 300%;
  background-repeat: no-repeat;
  background-image: url('img/cards.png');

  @for $i from 0 through 5 {
    @for $j from 0 through 3 {
      &[line='#{$j}'][column='#{$i}'] {
        background-position: calc((100% / 4) * $i) calc((100% / 2) * $j) !important;
      }
    }
  }
}
