.undertheleaves-piece {
  width: 40px;
  height: 40px;
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-image: url('img/pieces.png');
  background-clip: content-box;

  &[piece='bee'] {
    background-position-x: 0%;
  }

  &[piece='hummingbird'] {
    background-position-x: 25%;
  }

  &[piece='leaf'] {
    background-position-x: 50%;
  }

  &[piece='mushroom'] {
    background-position-x: 75%;
  }

  &[piece='puddle'] {
    background-position-x: 100%;
  }

  &.notif {
    display: inline-flex;
    width: 20px;
    height: 20px;
    margin-bottom: -4px;
  }
}
