@use './constants.scss' as *;

.undertheleaves-tile {
  width: $TILE_SIZE;
  height: $TILE_SIZE;
  position: relative;
  perspective: 1000px;

  .undertheleaves-tile-flipper {
    width: $TILE_SIZE;
    height: $TILE_SIZE;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    position: relative;
  }

  .undertheleaves-tile-box {
    width: $TILE_SIZE;
    height: $TILE_SIZE;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.3s ease;
    will-change: transform;

    & .undertheleaves-tile-front,
    & .undertheleaves-tile-back {
      box-sizing: border-box;
      box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.28),
        0 3px 1px -2px rgba(0, 0, 0, 0.24),
        0 1px 5px 0 rgba(0, 0, 0, 0.4);
      -webkit-box-shadow:
        0 2px 2px 0 rgba(0, 0, 0, 0.28),
        0 3px 1px -2px rgba(0, 0, 0, 0.24),
        0 1px 5px 0 rgba(0, 0, 0, 0.4);
      background-size: 500% 1000%;
      background-repeat: no-repeat;
      background-image: url('img/tiles.png');
      width: 100%;
      height: 100%;
      position: absolute;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      background-position-y: 100%;
    }

    & .undertheleaves-tile-back {
      transform: rotateY(180deg);
      background-image: url('img/back_tiles.png');
    }

    .undertheleaves-tile-inner {
      width: 100%;
      height: 100%;
      position: relative;
      transform-style: preserve-3d;
    }
  }

  @for $i from 0 through 4 {
    @for $j from 0 through 9 {
      &[line='#{$j}'][column='#{$i}'] .undertheleaves-tile-box {
        .undertheleaves-tile-front,
        .undertheleaves-tile-back {
          background-position: calc((100% / 4) * $i) calc((100% / 9) * $j) !important;
        }
      }
    }
  }

  &[type='initial'] .undertheleaves-tile-box .undertheleaves-tile-front {
    background-image: url('img/initial_tiles.png');
    background-size: 500% 100%;

    @for $i from 0 through 4 {
      &[line='0'][column='#{$i}'] .undertheleaves-tile-box .undertheleaves-tile-front {
        background-position: calc((100% / 4) * $i) 0%;
      }
    }
  }

  &.selectable .undertheleaves-tile-box {
    transition: 0.1s ease-in-out;
    cursor: pointer;
  }

  &.selected {
    z-index: 2;

    & .undertheleaves-tile-box {
      .undertheleaves-tile-front,
      .undertheleaves-tile-back {
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      .undertheleaves-tile-inner {
        outline: 2px solid red;
      }
    }
  }

  &.notif {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 8px;

    .undertheleaves-tile-flipper {
      width: 90px;
      height: 90px;
    }

    .undertheleaves-tile-box {
      width: 90px;
      height: 90px;
    }
  }
}
