@use './constants.scss' as *;
@use './tiles.scss' as *;

html {
  background-image: url(img/background.png);
  background-size: auto;
}

.undertheleaves-box {
  display: flex;
  padding: 16px 8px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;

  .undertheleaves-table {
    width: 100%;
    padding: 12px;
    background-color: #ffffff99;
    display: flex;
    box-sizing: border-box;
    gap: 12px;
    justify-content: center;
  }

  .undertheleaves-player {
    background-color: #ffffff99;
    display: flex;
    padding: 12px;
    gap: 12px;
    flex-direction: column;
    box-sizing: border-box;

    & > span {
      position: relative;
      align-self: center;
      color: var(--color);
      font-family: 'Libre Baskerville';
      font-weight: 900;

      &::before,
      &::after {
        content: ' ';
        box-sizing: border-box;
        background-color: var(--color);
        -webkit-mask: url(img/leaf.png) center / contain no-repeat;
        mask: url(img/leaf.png) center / contain no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -24px;
        top: 0px;
        transform: scaleX(-1);
      }

      &::after {
        left: initial;
        right: -24px;
        transform: none;
      }
    }

    & .undertheleaves-player-grid {
      display: grid;

      .undertheleaves-player-cell {
        width: $TILE_SIZE;
        height: $TILE_SIZE;
      }
    }
  }
}
