@use './constants.scss' as *;
@use './tiles.scss' as *;
@use './cards.scss' as *;
@use './pieces.scss' as *;

html {
  background-image: url(img/background.png);
  background-size: auto;
}

.undertheleaves-box {
  display: flex;
  padding: 16px 8px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;
  container: undertheleaves-box / inline-size;

  .undertheleaves-header {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    padding: 0px 12px;

    .undertheleaves-cards {
      display: flex;
      box-sizing: border-box;
      gap: 12px;
      justify-content: center;
      align-items: center;
    }

    .undertheleaves-offer {
      flex: 1;
      display: flex;
      box-sizing: border-box;
      gap: 12px;
      justify-content: center;
      position: relative;
      align-items: center;

      .undertheleaves-bag {
        order: -1;
        position: relative;
        filter: drop-shadow(0 1.5px 1.5px rgba(0, 0, 0, 0.2)) drop-shadow(0 1px 0px rgba(0, 0, 0, 0.35));
        background-size: 100% 100%;
        width: 100px;
        height: 120px;
        transform: rotate(-20deg);
        margin-left: -112px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-image: url('img/bag.png');

        & span {
          font-size: 16px;
          font-weight: bolder;
          user-select: none;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          font-family: 'Libre Baskerville';
          background: #fdede4bb;
          min-width: 25px;
          height: 25px;
          text-align: center;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }

  .undertheleaves-player {
    position: relative;
    background-color: #ffffff50;
    display: flex;
    padding: 12px;
    gap: 12px;
    flex-direction: column;
    box-sizing: border-box;

    & > span {
      position: relative;
      align-self: center;
      color: var(--color);
      font-family: 'Libre Baskerville';
      font-weight: 900;

      &::before,
      &::after {
        content: ' ';
        box-sizing: border-box;
        background-color: var(--color);
        -webkit-mask: url(img/leaf.png) center / contain no-repeat;
        mask: url(img/leaf.png) center / contain no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        left: -24px;
        top: 0px;
        transform: scaleX(-1);
      }

      &::after {
        left: initial;
        right: -24px;
        transform: none;
      }
    }

    & .undertheleaves-player-grid {
      display: grid;
      position: relative;

      .undertheleaves-player-cell {
        width: $TILE_SIZE;
        height: $TILE_SIZE;
        position: relative;
        box-sizing: border-box;

        &.selectable {
          background: #ff000050;
          cursor: pointer;
          box-sizing: border-box;
        }

        .undertheleaves-tile .undertheleaves-tile-box {
          .undertheleaves-tile-front,
          .undertheleaves-tile-back {
            box-shadow: none;
            -webkit-box-shadow: none;
          }
        }

        .undertheleaves-terrain {
          position: absolute;
          width: 50%;
          height: 50%;
          box-sizing: border-box;
          overflow: visible;

          .undertheleaves-being-corner-position {
            position: absolute;
            left: 100%;
            top: 100%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .undertheleaves-piece {
              width: 35px;
              height: 35px;
              min-width: 35px;
              min-height: 35px;
              filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));

              &:not(:first-child) {
                margin-top: -50px;
              }
            }
          }

          &.selectable {
            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              background: #ff000050;
              border: 1px solid red;
              cursor: pointer;
              transition: 0.1s ease-in-out;
              box-sizing: border-box;
            }

            &.selected::before {
              background: #0000ff50;
              border: 1px solid blue;
            }
          }

          &[data-local-x='0'][data-local-y='0'] {
            top: 25%;
            left: 25%;
            transform: translate(-50%, -50%);
          }

          &[data-local-x='1'][data-local-y='0'] {
            top: 25%;
            left: 75%;
            transform: translate(-50%, -50%);
          }

          &[data-local-x='0'][data-local-y='-1'] {
            top: 75%;
            left: 25%;
            transform: translate(-50%, -50%);
          }

          &[data-local-x='1'][data-local-y='-1'] {
            top: 75%;
            left: 75%;
            transform: translate(-50%, -50%);
          }

          .undertheleaves-piece {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 35px;
            height: 35px;
            min-width: 35px;
            min-height: 35px;
            filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));

            &:nth-child(1) {
              transform: translate(-50%, -50%);
              z-index: 1;
            }
            &:nth-child(2) {
              transform: translate(calc(-50% + 12px), calc(-50% - 10px));
            }
            &:nth-child(3) {
              transform: translate(calc(-50% - 14px), calc(-50% + 8px));
            }
            &:nth-child(4) {
              transform: translate(calc(-50% + 6px), calc(-50% + 14px));
            }
            &:nth-child(5) {
              transform: translate(calc(-50% - 8px), calc(-50% - 14px));
            }
          }

          &[data-mushroom='true'] .undertheleaves-piece {
            &:nth-child(1) {
              transform: translate(calc(-50% + 12px), calc(-50% - 10px));
              z-index: 1;
            }
            &:nth-child(2) {
              transform: translate(calc(-50% - 14px), calc(-50% + 8px));
            }
            &:nth-child(3) {
              transform: translate(calc(-50% + 6px), calc(-50% + 14px));
            }
            &:nth-child(4) {
              transform: translate(calc(-50% - 8px), calc(-50% - 14px));
            }
          }
        }
      }
    }
  }
}

@container undertheleaves-box (width < 980px) {
  .undertheleaves-box {
    .undertheleaves-header {
      flex: 1;
      gap: 24px;
      flex-direction: column;

      .undertheleaves-cards {
        flex: 1;
        order: -1;

        .undertheleaves-card {
          width: 100px;
          height: 150px;
        }
      }

      .undertheleaves-offer {
        flex: 1;
      }
    }
  }
}

.undertheleaves-void-stock {
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
}

.player-board {
  background-image: url(img/user_background.png);
  background-size: 100% 100%;
  padding: 6px 12px;
}

.undertheleaves-player-board {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4px 0px;

  & .undertheleaves-player-board-count {
    display: flex;
    flex-direction: column;
    align-items: center;

    & span {
      font-family: 'Libre Baskerville';
      font-weight: 700;
    }

    & .undertheleaves-piece {
      width: 30px;
      height: 30px;
    }
  }
}

.show_settings,
.scrollmap_button_wrapper.info,
.scrollmap_button_wrapper.toogle_buttons_visibility {
  display: none !important;
}

.scrollmap_container::after {
  display: none !important;
}
