/* latin-ext */
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v24/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v24/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v24/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNXaxMaC82U-ro.woff2) format("woff2");
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Libre Baskerville";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/librebaskerville/v24/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.undertheleaves-tile {
  width: 180px;
  height: 180px;
  position: relative;
}
.undertheleaves-tile .undertheleaves-tile-box {
  width: 180px;
  height: 180px;
  position: relative;
  perspective: 1000px;
  transition: transform 0.3s ease;
}
.undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-front, .undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-back {
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-size: 500% 1000%;
  background-repeat: no-repeat;
  background-image: url("img/tiles.png");
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-position-y: 100%;
}
.undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-back {
  transform: rotateY(180deg);
  background-image: url("img/back_tiles.png");
}
.undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.3s ease;
  transform-origin: center;
  will-change: transform;
}
.undertheleaves-tile[line="0"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="0"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 0% !important;
}
.undertheleaves-tile[line="1"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="1"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 11.1111111111% !important;
}
.undertheleaves-tile[line="2"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="2"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 22.2222222222% !important;
}
.undertheleaves-tile[line="3"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="3"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 33.3333333333% !important;
}
.undertheleaves-tile[line="4"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="4"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 44.4444444444% !important;
}
.undertheleaves-tile[line="5"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="5"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 55.5555555556% !important;
}
.undertheleaves-tile[line="6"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="6"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 66.6666666667% !important;
}
.undertheleaves-tile[line="7"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="7"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 77.7777777778% !important;
}
.undertheleaves-tile[line="8"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="8"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 88.8888888889% !important;
}
.undertheleaves-tile[line="9"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="9"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 0% 100% !important;
}
.undertheleaves-tile[line="0"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="0"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 0% !important;
}
.undertheleaves-tile[line="1"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="1"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 11.1111111111% !important;
}
.undertheleaves-tile[line="2"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="2"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 22.2222222222% !important;
}
.undertheleaves-tile[line="3"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="3"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 33.3333333333% !important;
}
.undertheleaves-tile[line="4"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="4"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 44.4444444444% !important;
}
.undertheleaves-tile[line="5"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="5"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 55.5555555556% !important;
}
.undertheleaves-tile[line="6"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="6"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 66.6666666667% !important;
}
.undertheleaves-tile[line="7"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="7"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 77.7777777778% !important;
}
.undertheleaves-tile[line="8"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="8"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 88.8888888889% !important;
}
.undertheleaves-tile[line="9"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="9"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 25% 100% !important;
}
.undertheleaves-tile[line="0"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="0"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 0% !important;
}
.undertheleaves-tile[line="1"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="1"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 11.1111111111% !important;
}
.undertheleaves-tile[line="2"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="2"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 22.2222222222% !important;
}
.undertheleaves-tile[line="3"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="3"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 33.3333333333% !important;
}
.undertheleaves-tile[line="4"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="4"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 44.4444444444% !important;
}
.undertheleaves-tile[line="5"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="5"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 55.5555555556% !important;
}
.undertheleaves-tile[line="6"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="6"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 66.6666666667% !important;
}
.undertheleaves-tile[line="7"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="7"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 77.7777777778% !important;
}
.undertheleaves-tile[line="8"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="8"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 88.8888888889% !important;
}
.undertheleaves-tile[line="9"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="9"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 50% 100% !important;
}
.undertheleaves-tile[line="0"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="0"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 0% !important;
}
.undertheleaves-tile[line="1"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="1"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 11.1111111111% !important;
}
.undertheleaves-tile[line="2"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="2"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 22.2222222222% !important;
}
.undertheleaves-tile[line="3"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="3"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 33.3333333333% !important;
}
.undertheleaves-tile[line="4"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="4"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 44.4444444444% !important;
}
.undertheleaves-tile[line="5"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="5"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 55.5555555556% !important;
}
.undertheleaves-tile[line="6"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="6"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 66.6666666667% !important;
}
.undertheleaves-tile[line="7"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="7"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 77.7777777778% !important;
}
.undertheleaves-tile[line="8"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="8"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 88.8888888889% !important;
}
.undertheleaves-tile[line="9"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="9"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 75% 100% !important;
}
.undertheleaves-tile[line="0"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="0"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 0% !important;
}
.undertheleaves-tile[line="1"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="1"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 11.1111111111% !important;
}
.undertheleaves-tile[line="2"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="2"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 22.2222222222% !important;
}
.undertheleaves-tile[line="3"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="3"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 33.3333333333% !important;
}
.undertheleaves-tile[line="4"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="4"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 44.4444444444% !important;
}
.undertheleaves-tile[line="5"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="5"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 55.5555555556% !important;
}
.undertheleaves-tile[line="6"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="6"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 66.6666666667% !important;
}
.undertheleaves-tile[line="7"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="7"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 77.7777777778% !important;
}
.undertheleaves-tile[line="8"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="8"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 88.8888888889% !important;
}
.undertheleaves-tile[line="9"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile[line="9"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-back {
  background-position: 100% 100% !important;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-image: url("img/initial_tiles.png");
  background-size: 500% 100%;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front[line="0"][column="0"] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-position: 0% 0%;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front[line="0"][column="1"] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-position: 25% 0%;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front[line="0"][column="2"] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-position: 50% 0%;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front[line="0"][column="3"] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-position: 75% 0%;
}
.undertheleaves-tile[type=initial] .undertheleaves-tile-box .undertheleaves-tile-front[line="0"][column="4"] .undertheleaves-tile-box .undertheleaves-tile-front {
  background-position: 100% 0%;
}
.undertheleaves-tile.selectable .undertheleaves-tile-box {
  transition: 0.1s ease-in-out;
  cursor: pointer;
}
.undertheleaves-tile.selected .undertheleaves-tile-box {
  z-index: 2;
}
.undertheleaves-tile.selected .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-tile.selected .undertheleaves-tile-box .undertheleaves-tile-back {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.undertheleaves-tile.selected .undertheleaves-tile-box .undertheleaves-tile-inner {
  outline: 2px solid red;
}
.undertheleaves-tile.notif {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8px;
}
.undertheleaves-tile.notif .undertheleaves-tile-box {
  width: 90px;
  height: 90px;
}

.undertheleaves-card {
  width: 140px;
  height: 210px;
  position: relative;
  border-radius: 6px;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  background-size: 500% 300%;
  background-repeat: no-repeat;
  background-image: url("img/cards.png");
}
.undertheleaves-card[line="0"][column="0"] {
  background-position: 0% 0% !important;
}
.undertheleaves-card[line="1"][column="0"] {
  background-position: 0% 50% !important;
}
.undertheleaves-card[line="2"][column="0"] {
  background-position: 0% 100% !important;
}
.undertheleaves-card[line="3"][column="0"] {
  background-position: 0% 150% !important;
}
.undertheleaves-card[line="0"][column="1"] {
  background-position: 25% 0% !important;
}
.undertheleaves-card[line="1"][column="1"] {
  background-position: 25% 50% !important;
}
.undertheleaves-card[line="2"][column="1"] {
  background-position: 25% 100% !important;
}
.undertheleaves-card[line="3"][column="1"] {
  background-position: 25% 150% !important;
}
.undertheleaves-card[line="0"][column="2"] {
  background-position: 50% 0% !important;
}
.undertheleaves-card[line="1"][column="2"] {
  background-position: 50% 50% !important;
}
.undertheleaves-card[line="2"][column="2"] {
  background-position: 50% 100% !important;
}
.undertheleaves-card[line="3"][column="2"] {
  background-position: 50% 150% !important;
}
.undertheleaves-card[line="0"][column="3"] {
  background-position: 75% 0% !important;
}
.undertheleaves-card[line="1"][column="3"] {
  background-position: 75% 50% !important;
}
.undertheleaves-card[line="2"][column="3"] {
  background-position: 75% 100% !important;
}
.undertheleaves-card[line="3"][column="3"] {
  background-position: 75% 150% !important;
}
.undertheleaves-card[line="0"][column="4"] {
  background-position: 100% 0% !important;
}
.undertheleaves-card[line="1"][column="4"] {
  background-position: 100% 50% !important;
}
.undertheleaves-card[line="2"][column="4"] {
  background-position: 100% 100% !important;
}
.undertheleaves-card[line="3"][column="4"] {
  background-position: 100% 150% !important;
}
.undertheleaves-card[line="0"][column="5"] {
  background-position: 125% 0% !important;
}
.undertheleaves-card[line="1"][column="5"] {
  background-position: 125% 50% !important;
}
.undertheleaves-card[line="2"][column="5"] {
  background-position: 125% 100% !important;
}
.undertheleaves-card[line="3"][column="5"] {
  background-position: 125% 150% !important;
}

.undertheleaves-piece {
  width: 40px;
  height: 40px;
  background-size: 500% 100%;
  background-repeat: no-repeat;
  background-image: url("img/pieces.png");
  background-clip: content-box;
}
.undertheleaves-piece[piece=bee] {
  background-position-x: 0%;
}
.undertheleaves-piece[piece=hummingbird] {
  background-position-x: 25%;
}
.undertheleaves-piece[piece=leaf] {
  background-position-x: 50%;
}
.undertheleaves-piece[piece=puddle] {
  background-position-x: 75%;
}
.undertheleaves-piece[piece=mushroom] {
  background-position-x: 100%;
}
.undertheleaves-piece.notif {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

#page-title .undertheleaves-piece {
  width: 30px !important;
  height: 30px !important;
}
#page-title .undertheleaves-piece.notif {
  margin-bottom: -7px !important;
}

html {
  background-image: url(img/background.png);
  background-size: auto;
}

.undertheleaves-box {
  display: flex;
  padding: 16px 8px;
  box-sizing: border-box;
  flex-direction: column;
  gap: 16px;
}
.undertheleaves-box .undertheleaves-cards {
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  box-sizing: border-box;
  gap: 12px;
  justify-content: center;
}
.undertheleaves-box .undertheleaves-offer {
  width: 100%;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  box-sizing: border-box;
  gap: 12px;
  justify-content: center;
}
.undertheleaves-box .undertheleaves-player {
  position: relative;
  background-color: rgba(255, 255, 255, 0.6);
  display: flex;
  padding: 12px;
  gap: 12px;
  flex-direction: column;
  box-sizing: border-box;
}
.undertheleaves-box .undertheleaves-player > span {
  position: relative;
  align-self: center;
  color: var(--color);
  font-family: "Libre Baskerville";
  font-weight: 900;
}
.undertheleaves-box .undertheleaves-player > span::before, .undertheleaves-box .undertheleaves-player > span::after {
  content: " ";
  box-sizing: border-box;
  background-color: var(--color);
  -webkit-mask: url(img/leaf.png) center/contain no-repeat;
  mask: url(img/leaf.png) center/contain no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -24px;
  top: 0px;
  transform: scaleX(-1);
}
.undertheleaves-box .undertheleaves-player > span::after {
  left: initial;
  right: -24px;
  transform: none;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid {
  display: grid;
  position: relative;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell {
  width: 180px;
  height: 180px;
  position: relative;
  box-sizing: border-box;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell.selectable {
  background: rgba(255, 0, 0, 0.3137254902);
  cursor: pointer;
  border: 1px solid red;
  box-sizing: border-box;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-front,
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-tile .undertheleaves-tile-box .undertheleaves-tile-back {
  box-shadow: none;
  -webkit-box-shadow: none;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-being-center-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-being-center-position .undertheleaves-piece {
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-being-center-position .undertheleaves-piece:not(:first-child) {
  margin-top: -50px;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain {
  position: absolute;
  width: 50%;
  height: 50%;
  box-sizing: border-box;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain.selectable::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.3137254902);
  border: 1px solid red;
  cursor: pointer;
  transition: 0.1s ease-in-out;
  box-sizing: border-box;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain.selectable.selected::before {
  background: rgba(0, 0, 255, 0.3137254902);
  border: 1px solid blue;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain[data-local-x="0"][data-local-y="0"] {
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain[data-local-x="1"][data-local-y="0"] {
  top: 25%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain[data-local-x="0"][data-local-y="-1"] {
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain[data-local-x="1"][data-local-y="-1"] {
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 35px;
  height: 35px;
  min-width: 35px;
  min-height: 35px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.55));
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece:nth-child(1) {
  transform: translate(-50%, -50%);
  z-index: 1;
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece:nth-child(2) {
  transform: translate(calc(-50% + 12px), calc(-50% - 10px));
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece:nth-child(3) {
  transform: translate(calc(-50% - 14px), calc(-50% + 8px));
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece:nth-child(4) {
  transform: translate(calc(-50% + 6px), calc(-50% + 14px));
}
.undertheleaves-box .undertheleaves-player .undertheleaves-player-grid .undertheleaves-player-cell .undertheleaves-terrain .undertheleaves-piece:nth-child(5) {
  transform: translate(calc(-50% - 8px), calc(-50% - 14px));
}

.undertheleaves-void-stock {
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
}

.player-board {
  background-image: url(img/user_background.png);
  background-size: 100% 100%;
  padding: 6px 12px;
}

.undertheleaves-player-board {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 4px 0px;
}
.undertheleaves-player-board .undertheleaves-player-board-count {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.undertheleaves-player-board .undertheleaves-player-board-count span {
  font-family: "Libre Baskerville";
  font-weight: 700;
}
.undertheleaves-player-board .undertheleaves-player-board-count .undertheleaves-piece {
  width: 30px;
  height: 30px;
}
